#container {
  border: 5px solid red;
  width: 500px;
  height: 500px
  margin: 50px;
  padding: 25px;
}

#board {
  border: 5px solid green;
  width: 600px;
  height: 600px;
}

#controls {
  border: 5px solid blue;
  width: 200px;
  height: 200px;
}
